.App {
  display: grid;
  grid-auto-rows: 15vw  10vw 60vw;
  grid-auto-columns: 30vw auto;
  justify-items: center;
  align-items: start;
  font-size: 1.3vw;
}

.App-logo {
  height: 11vw;
}

.App-header {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end:2;
  grid-column-start: 1; 
  grid-column-end: 3; 
}

.bold{
  font-weight: 900;
}

